.I_D_title{
    text-align: center;
}
.tab_item_detail{
}
.tab_center{
    margin: 0 auto;
}
.myedit{
    cursor: pointer;
    text-decoration: none!important;
    color: black;
}
#back_click_hide{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200000;
    background-color:#909090;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    display: none;

}
#item_content{
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color:#EEE;
}
#item_detail_hidden{
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    height: 85%;
    overflow: auto;
    border: 1px solid #eee;
    background-color: white;
    box-shadow: 0 0 5px #666;
    -ms-transition: hidden 2s;
    -moz-transition: hidden 2s; /* Firefox 4 */
    -webkit-transition: hidden 2s; /* Safari 和 Chrome */
    display: none;
    z-index: 200001;
    border-radius: 8px;


}
#item_detail_hidden h4{
    text-align: center;
    font-family: "Microsoft Yahei";
}
#item_detail_hidden img{
    width: 50%;
    height: 50%;
}
