.myitem{
    margin: 0 auto;
}
.glyphicon{
    cursor: pointer;
}
#item_detail_hidden{
    padding: 10px;
    display: none;
    position: absolute;
    top: 10%;
    width: 80%;
    height: 80%;
    border: 1px solid #eee;
    box-shadow: 0 0 5px #666;
    background-color: white;
    z-index: 200010;
    border-radius: 8px;
    overflow: auto;
}
.glyphicon-remove{
    margin-top: 3px;
    margin-right: 5px;
}
#item_detail_hidden img{
    width: 50%;
}
#item_detail_hidden h4{
    text-align: center;
    font-family: "Microsoft Yahei";
}
#item_content{
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color:#EEE;
}
#back_click_hide{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200000;
    background-color:#909090;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    display: none;

}
